.Carlos {
    width: 30rem;
    margin-top: 15px;
}
.Redonda {
    width:243px;
    height:243px;
    border-radius:150px;
    margin-top: 15px;
}
.foto {
    text-align: center;
}
.segunda {
    background-color: #EDF7FA;
    margin-top: 50px;
}
.align-right {
    text-align: right;
    margin-top: 10px;
    color: #00A8CC;
}
.Tercera {
background-color: white;
margin-right: 20px;
margin-bottom: 20px;
}
.top {
    margin-top: 20px;
    margin-bottom: 20px;
}
.boton {
    background-color: #FF6464;
    color: white;
    border-radius: 2PX;
    border-color: transparent;
    margin-top: 15px;
}
.solido {
    border-right: 2px solid;
}
.imagen {
    width: 246px;
    height: 180px;
    border-radius: 10px;
}
.circulo {
    background-color: #142850;
    color: #ffffff;
    border-radius: 10px;
}
.linea {
    border-top: #E0E0E0 2px solid;
}
.icon {
    width: 30px;
    height: 30px;
    margin-left: 35px;
}
.Border {
    margin-top: 51px;
    text-align: center;
}
.final {
    margin-top: 26px;
    margin-bottom: 54px;
    color: #21243D;
    text-align: center;
}

@media (max-width: 768px) {
    .icon {
        width: 20px;
        height: 20px;
    }  
}

